<div class="post">
    <h1 class="title"><%= post[:title] %></h1>
    <h4 class="published">Published <%= post[:published].to_s("%B %-d, %Y") %></h4>
    <div class="content">
        <%= post[:content] %>
    </div>
</div>
