<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Omar Roth">
        <title><%= AUTHOR %></title>
        <style>
        body {
            margin: 40px auto;
            max-width: 800px;
            padding: 0 10px;
            font-family: Open Sans, Arial;
            color: #454545;
            line-height: 1.2;
        }

        code {
            background: #f8f8f8;
        }

        a {
            color: #0366d6;
            text-decoration: none;
        }

        pre code {
            overflow: auto;
            tab-size: 4;
            display: block;
            padding: 0.5em;
        }
        </style>
    </head>
    </body>
        <h3>
            <a style="float: left ; width: 50%; text-align: left" href="/"><%= AUTHOR %></a>
            <!-- <a style="float: left ; width: 33.333333%; text-align: center" href="/about">about</a> -->
            <a style="float: right; width: 50%; text-align: right" href="/atom.xml">rss</a>
        </h3>
        <hr>

        <%= content %>
        
        <hr>
        <div class="footer">
            <p>Licensed under the AGPLv3.</p>
            <p>Source available <a href="https://github.com/omarroth/omar.yt">here</a>.</p>
            <br>
        </div>
    <body>
</html>